/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f0f0f0;
}

/* 404 Page Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.error-container {
    text-align: center;
}

.error-code {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    color: #dc3545;
}

.error-message {
    font-size: 1.5em;
    margin: 0;
}

.back-to-home {
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #666;
    text-decoration: underline;
    background-color: #fff;
}

/* Header styles */
header {
    background-color: #66cdaa;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    text-align: center;

}

header p {
    font-size: 18px;
    text-align: center;
}

header nav {
    margin-top: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    font-size: 18px;
    padding: 10px;
}

header nav ul li a.active {
    background-color: #fff;
    color: #333;
}

/* Main styles */
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

main section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

main section p {
    margin-bottom: 10px;
}

/* Form styles */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.block {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

form fieldset {
    border: none;
}

form legend {
    font-size: 18px;
    font-weight: bold;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    outline: none;
}

form input:focus,
form textarea:focus {
    border-color: #666;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #666;
}

/* Gallery styles */
.gallery img {
    max-width: 149px;
    height: 250px;
}

/* Contact info styles */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 600px;
}

.contact-info h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-info p {
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 10px;
}

#map {
    height: 50%;
}

html,
body {
    height: 50%;
    margin: 0;
    padding: 0;
}

/* Footer styles */

.social-links {
    color: #fff;
}

i {
    height: 10px;
    width: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

img {
    width: 20%;
}

img {
    width: 21%;
}

img {
    width: 25%;
}

img {
    width: 20%;
}

.gallery img:hover {
    transform: scale(2);
}